<div class="container">
  <div class="row">
    <p *ngFor="let person of people | async" class="col-lg-3">
    <mat-card (click)="goToPersonFlights(person)"  >
      <mat-card-header>
        <mat-card-title>{{person.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{person.picture}}" alt="{{person.name}}">
      <mat-card-content>
        <p> Active: {{person.isActive}}
        </p>
        <p> Price: {{person.price}}
        </p>
        <p> Email: {{person.email}}
        </p>
        <p> Address: {{person.address}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">To Flights</button>
      </mat-card-actions>
    </mat-card>
  </p>
  </div>
</div>